<div class="container">
    <div class="mat-row">
        <span> Id : {{contactData.id}}</span>
    </div>
    <div class="mat-row">
        <span> First Name : {{contactData.firstName}}</span>
    </div>
    <div class="mat-row">
        <span> Last Name : {{contactData.lastName}}</span>
    </div>
    <div class="mat-row">
        <span> Email : {{contactData.email}}</span>
    </div>
    <div class="mat-row" class="col-12 col-md-8" style="margin-top: 10px;">
        <button (click)="cancel()" style="margin-left: 10px;" class="btn btn-secondary">Cancel</button>
    </div>
</div>